.nichosi{
    background-image: url(https://vk.com/images/stickers/1933/512.png);
    position: fixed;
    bottom:  -256px;
    right: 78px;
    height: 256px;
    width: 256px;
    background-size: contain;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    will-change: bottom;
}
.nichosi.active{
    bottom: -16px;
}